In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_regression

In [3]:
df = pd.read_csv(Path('lending_data.csv'))
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [4]:
y = df["loan_status"]
X = df.drop(columns = ["loan_status"])

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
29175,8600.0,6.792,44500,0.325843,3,0,14500
23020,7800.0,6.419,41000,0.268293,2,0,11000
31269,10000.0,7.386,50100,0.401198,4,1,20100
35479,9300.0,7.093,47300,0.365751,3,0,17300
13470,9200.0,7.045,46900,0.360341,3,0,16900

In [8]:
classifier = LogisticRegression()
classifier

LogisticRegression()

In [9]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [10]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")

Training Data Score: 0.9921240885954051

In [15]:
rfc = RandomForestClassifier(random_state=1).fit(X_train, y_train)
print(f'Training Score: {rfc.score(X_train, y_train)}')

Training Score: 0.9975409272252029

In [ ]:
## My prediction of which model will perform better? Is that the logistic regression will perform better. 
## since it compares qualitative and quantative inputs for targeted variables. Random Forest is a learning algorithm and comprised of collections and desicion trees.
## I assumed that without scaling the data that the logistic regression would work better.

## results were that the both models worked very well with the random forest working slightly better.
#Logistic Regression training score - 0.9921240885954051
#Random Forest Classifier training score - 0.9975409272252029